<div class="page-header">
  <h1><%= @departamento.nome %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_departamento_path(@departamento), class: "btn btn-primary" %>
    <%= link_to "Voltar", departamentos_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @departamento %></div>