<div class="page-header">
  <h1><%= @aluno.usuario&.nome %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_aluno_path(@aluno), class: "btn btn-primary" %>
    <%= link_to "Voltar", alunos_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @aluno %></div>