<div class="page-header">
  <h1>Questão #<%= @questao.id %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_questao_path(@questao), class: "btn btn-primary" %>
    <%= link_to "Voltar", questaos_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @questao %></div>