<div id="<%= dom_id professor %>">
  <p>
    <strong>Idusuario:</strong>
    <%= professor.idUsuario %>
  </p>

  <p>
    <strong>Dt contratacao:</strong>
    <%= professor.dt_contratacao %>
  </p>

</div>
