<div class="detail-row"><span class="detail-label">Nome:</span>         <%= materium.nome %></div>
<div class="detail-row"><span class="detail-label">Código:</span>       <%= materium.codigo %></div>
<div class="detail-row"><span class="detail-label">Semestre:</span>     <%= materium.semestre %></div>
<div class="detail-row"><span class="detail-label">Departamento:</span> <%= materium.departamento&.nome %></div>