<div class="page-header">
  <h1><%= @materium.nome %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_materium_path(@materium), class: "btn btn-primary" %>
    <%= link_to "Voltar", materia_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @materium %></div>