<div class="page-header">
  <h1><%= @usuario.nome %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_usuario_path(@usuario), class: "btn btn-primary" %>
    <%= link_to "Voltar", usuarios_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @usuario %></div>