<div class="page-header">
  <h1>Resposta #<%= @respostum.id %></h1>
  <div class="actions">
    <%= link_to "Editar", edit_respostum_path(@respostum), class: "btn btn-primary" %>
    <%= link_to "Voltar", resposta_path, class: "btn btn-secondary" %>
  </div>
</div>
<div class="card"><%= render @respostum %></div>